[Unit]
Description=Blockhain Explorer Validator DaVinci
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/dora -config /root/da-dora/config/explorer-config.yml

[Install]
WantedBy=multi-user.target